mlflow
torch
torchaudio
numpy
scipy
pandas
librosa
soundfile
tqdm
pyyaml
jinja2
packaging
protobuf
pillow
sentencepiece
editdistance
jieba
hydra-core
omegaconf
onnxruntime
kaldiio
jaconv
funasr>=1.2.0
modelscope>=1.20.0
